@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*===================INTRO CSS =======================*/
.intro-container{
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin-top: 75px;
}
.name-prof{
  padding: 20px;
  width: 50%;
}
.name-prof h4{
  padding-bottom: 10px;
}
.name-prof h3{
  font-size: 25px;
  padding-bottom: 5px;
}
.name-prof h1{
  font-size: 40px;
  padding-bottom: 10px;
  font-family: poppins;
  font-weight: bolder;
}
.designer-text{
  margin-left: 80px;
}

.para{
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 30px;
}

.hire-me{
  background-color: #FD6F00;
  color: white;
  border: none;
  padding: 5px;
  width: 170px;
  height: 42px;
  top: 7px;
  left: 1232px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 600;
}
.img-container{
  display: flex;
  justify-content: center;

}
.rect-img{
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 220px;
  background-color: #FD6F00;
  margin-top: 100px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.ring-one{
  position: absolute;
  margin-top: 90px;
  margin-left: 10px;
  background-color: transparent;
  height: 260px;
  width: 432px;
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border: 5px solid rgb(38, 10, 83);
  border-bottom: none;
  z-index: -1;
}
.social-link{
  position:absolute;
  margin-top: 400px;
  display: flex;
  gap: 10px;
}

/*===============MEDIA QUERIES==============*/

@media (max-width: 600px) {
  .intro-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .name-prof{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .name-prof h1{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
  }
  .name-prof p{
    display: inline-block;
    width: 350px;
    padding-bottom: 10px;
    text-align: center;
  }
  h1, .designer-text{
    margin-left: 10px;
    font-size: 5px;
  }
  .para{
    width: 100%;
    padding: 10px 0px 0 15px;
  }
  .hire-me{
    margin-top: 5px;
  } 
}